################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLTHPT_KTPMUD_2022.2/QLLH.cs
